* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(123, 214, 239);
}

.displayy {
    display: hidden;
}

.header {
    
    font-weight: normal;
    text-align: center;
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.percent {
    visibility: hidden;
}

#star {
    padding-top: 13px;
    font-size: 1.5em;
}

.divide {
    background-color: #fff;
    color: black;
    border-radius: 100%;
    height: 2em;
    width: 2em;
    font-size: 1.5em;
    margin-top: 0.5em;
    font-weight: 600;
    box-shadow:
        -10px -10px 20px rgba(255, 255, 255, 0.7),
        10px 10px 20px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
}

.equal {
    background-color: #fff;
    color: black;
    width: 120%;
    margin-left: 120px;
    height: 7vh;
    border-radius: 50px;
    margin-top: 5px;
    box-shadow:
        -10px -10px 20px rgba(255, 255, 255, 0.7),
        10px 10px 20px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
}

.equal:hover {
    box-shadow:
        -5px -5px 10px rgba(255, 255, 255, 0.7),
        5px 5px 10px rgba(0, 0, 0, 0.2);
}


.add {
    background-color: #fff;
    color: black;
    box-shadow:
        -10px -10px 20px rgba(255, 255, 255, 0.7),
        10px 10px 20px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 100%;
    height: 2em;
    width: 2em;
    font-size: 1.5em;
    margin-top: 0.5em;
    font-weight: 600;
}

.sub {
    background-color: #fff;
    color: black;
    box-shadow:
        -10px -10px 20px rgba(255, 255, 255, 0.7),
        10px 10px 20px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 100%;
    height: 2em;
    width: 2em;
    font-size: 1.5em;
    margin-top: 0.5em;
    font-weight: 600;
}

.backspace {
    background-color: rgb(222, 67, 67);
    box-shadow:
        -10px -10px 20px rgba(255, 255, 255, 0.7),
        10px 10px 20px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 100%;
    height: 2em;
    width: 2em;
    font-size: 1.5em;
    margin-top: 0.5em;
    color: white;
}

.backspace:hover {
    background-color: red;
}

.num:hover {
    box-shadow:
        -10px -10px 20px rgba(255, 255, 255, 0.7),
        10px 10px 20px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 100%;
    width: 3vw;
    height: 6vh;
}

.icon {
    background-color: #fff;
    color: black;
    box-shadow:
        -10px -10px 20px rgba(255, 255, 255, 0.7),
        10px 10px 20px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 100%;
    height: 2em;
    width: 2em;
    font-size: 1.5em;
    margin-top: 0.5em;
    font-weight: 600;
}

.container {
    background-color: #fff;
    width: 25vw;
    height: 70vh;
    /* min-width: 400px;
    max-width: 400px; */
    padding-bottom: 30px;
    border-radius: 20px;
}

.content-board {
    background-color: #efefef;
    height: 5em;
    overflow: hidden;
    margin-bottom: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    display: flex;
    align-items: center;
}

#display-content {
    overflow: hidden;
    white-space: nowrap;
    color: black;
    font-size: 25px;
    padding: 0 5px;
}


button {
    width: 3.5em;
    height: 3em;
    color: black;
    background-color: #fff;
    border: none;
    font-size: 1.5em;
}



.button-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    grid-row-gap: 10px;
    align-items: center;
    margin-top: 40px;
}


/* iphone 12 pro */
@media screen and (max-width: 416px) {
    .container {
        width: fit-content;
        max-width: 400px;
        height: fit-content;
        /* padding: 10px 10px; */
    }

    .equal {
        margin-left: 100px;
    }

    .num:hover {
        box-shadow:
            -10px -10px 20px rgba(255, 255, 255, 0.7),
            10px 10px 20px rgba(0, 0, 0, 0.2);
        transition: box-shadow 0.3s ease-in-out;
        border-radius: 100%;
        width: 13vw;
        height: 6vh;
    }
}

@media screen and (min-width: 400px) {
    .container {
        width: fit-content;
        max-width: 400px;
        height: fit-content;
    }
}

@media screen and (max-width: 400px) {
    .container {
        width: fit-content;
        max-width: 250px;
        height: fit-content;
    }

    

    button {
        width: 1em;
        height: 1em;
        color: black;
        background-color: #fff;
        border: none;
        font-size: 1em;
    }

    #star {
        padding-top: 13px;
        font-size: 1.5em;
    }

    .divide {
        background-color: #fff;
        color: black;
        box-shadow:
            -10px -10px 20px rgba(255, 255, 255, 0.7),
            10px 10px 20px rgba(0, 0, 0, 0.2);
        transition: box-shadow 0.3s ease-in-out;
        border-radius: 100%;
        height: 1.5em;
        width: 1.5em;
        font-size: 1.5em;
        margin-top: 0.5em;
        font-weight: 600;
    }

    .equal {
        background-color: #fff;
        color: black;
        box-shadow:
            -10px -10px 20px rgba(255, 255, 255, 0.7),
            10px 10px 20px rgba(0, 0, 0, 0.2);
        transition: box-shadow 0.3s ease-in-out;
        width: 120%;
        margin-left: 70px;
        height: 7vh;
        border-radius: 50px;
        margin-top: 5px;
    }

    .add {
        background-color: #fff;
        color: black;
        box-shadow:
            -10px -10px 20px rgba(255, 255, 255, 0.7),
            10px 10px 20px rgba(0, 0, 0, 0.2);
        transition: box-shadow 0.3s ease-in-out;
        border-radius: 100%;
        height: 1.5em;
        width: 1.5em;
        font-size: 1.5em;
    }

    .sub {
        background-color: #fff;
        color: black;
        box-shadow:
            -10px -10px 20px rgba(255, 255, 255, 0.7),
            10px 10px 20px rgba(0, 0, 0, 0.2);
        transition: box-shadow 0.3s ease-in-out;
        border-radius: 100%;
        height: 1.5em;
        width: 1.5em;
        font-size: 1.5em;
        margin-top: 0.5em;
    }

    .backspace {
        background-color: rgb(222, 67, 67);
        border-radius: 100%;
        height: 2em;
        width: 2em;
        font-size: 1.5em;
        margin-top: 0.5em;
        color: white;
    }

    .icon {
        background-color: #fff;
        color: black;
        box-shadow:
            -10px -10px 20px rgba(255, 255, 255, 0.7),
            10px 10px 20px rgba(0, 0, 0, 0.2);
        transition: box-shadow 0.3s ease-in-out;
        border-radius: 100%;
        height: 1.5em;
        width: 1.5em;
        font-size: 1.5em;
    }

    .num:hover {
        box-shadow:
            -10px -10px 20px rgba(255, 255, 255, 0.7),
            10px 10px 20px rgba(0, 0, 0, 0.2);
        transition: box-shadow 0.3s ease-in-out;
        border-radius: 100%;
        width: 12vw;
        height: 6.5vh;
    }

    .icon, .divide, .add, .sub{
        font-weight: normal;
    }
}
